node_modules/
cache/
artifacts/
.env
coverage/
coverage.json
typechain-types/
gas-report.txt

# Hardhat files
deployments/*.json
!deployments/example.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
